@model DigitalDevices.Models.Microphone
@using DigitalDevices.Enums;
@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>@Model.Name @Model.Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Principle" class="control-label"></label>
                <select asp-for="Principle" asp-items="Html.GetEnumSelectList<OperatingPrinciple>()" class="form-control"></select>
                <span asp-validation-for="Principle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direction" class="control-label"></label>
                <select asp-for="Direction" asp-items="Html.GetEnumSelectList<MicrophoneDirections>()" class="form-control"></select>
                <span asp-validation-for="Direction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutionType" class="control-label"></label>
                <select asp-for="ExecutionType" asp-items="Html.GetEnumSelectList<MicrophoneExecutionTypes>()" class="form-control"></select>
                <span asp-validation-for="ExecutionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AudioConnectionType" class="control-label"></label>
                <select asp-for="AudioConnectionType" asp-items="Html.GetEnumSelectList<AudioConnectionType>()" class="form-control"></select>
                <span asp-validation-for="AudioConnectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinFrequency" class="control-label"></label>
                <input asp-for="MinFrequency" class="form-control" />
                <span asp-validation-for="MinFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxFrequency" class="control-label"></label>
                <input asp-for="MaxFrequency" class="form-control" />
                <span asp-validation-for="MaxFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Impedance" class="control-label"></label>
                <input asp-for="Impedance" class="form-control" />
                <span asp-validation-for="Impedance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionType" class="control-label"></label>
                <select asp-for="ConnectionType" asp-items="Html.GetEnumSelectList<ConnectionType>()" class="form-control"></select>
                <span asp-validation-for="ConnectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
