@model DigitalDevices.Models.CharacteristicsType

@{
    ViewData["Title"] = "Добавление";
}

<h1>Добавить</h1>

<h4>Производителя</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataType" class="control-label"></label>
                <select asp-for="DataType" class="form-control">
                    <option label="Логический тип (да, нет)">bool</option>
                    <option label="Строка">string</option>
                    <option label="Целое число">int</option>
                    <option label="Число с 'плавающей' точкой">float</option>
                    <option label="Число с 'плавающей' точкой, но с большей точностью">double</option>
                    <option label="Число для финансовых расчётов" >decimal</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
