@model DigitalDevices.Models.Headphones
@using DigitalDevices.Enums;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Headphones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HeadphonesType" class="control-label"></label>
                <select asp-for="HeadphonesType" asp-items="Html.GetEnumSelectList<HeadphonesType>()" class="form-control"></select>
                <span asp-validation-for="HeadphonesType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxFrequency" class="control-label"></label>
                <input asp-for="MaxFrequency" class="form-control" />
                <span asp-validation-for="MaxFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sensivity" class="control-label"></label>
                <input asp-for="Sensivity" class="form-control" />
                <span asp-validation-for="Sensivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoundSchemeFormat" class="control-label"></label>
                <input asp-for="SoundSchemeFormat" class="form-control" />
                <span asp-validation-for="SoundSchemeFormat" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Microphone" /> @Html.DisplayNameFor(model => model.Microphone)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Connection" class="control-label"></label>
                <select asp-for="Connection" asp-items="Html.GetEnumSelectList<ConnectionType>()" class="form-control"></select>
                <span asp-validation-for="Connection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionType" class="control-label"></label>
                <select asp-for="ConnectionType" asp-items="Html.GetEnumSelectList<AudioConnectionType>()" class="form-control"></select>
                <span asp-validation-for="ConnectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
