@using DigitalDevices.Enums
@model DigitalDevices.Models.GraphicalTablet

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Графический планшет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Diagonal" class="control-label"></label>
                <input asp-for="Diagonal" class="form-control" />
                <span asp-validation-for="Diagonal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Definition" class="control-label"></label>
                <input asp-for="Definition" class="form-control" />
                <span asp-validation-for="Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FPS" class="control-label"></label>
                <input asp-for="FPS" class="form-control" />
                <span asp-validation-for="FPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatrixType" class="control-label"></label>
                <select asp-for="MatrixType" asp-items="Html.GetEnumSelectList<MatrixTypes>()" class="form-control"></select>
                <span asp-validation-for="MatrixType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponceTime" class="control-label"></label>
                <input asp-for="ResponceTime" class="form-control" />
                <span asp-validation-for="ResponceTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkWidth" class="control-label"></label>
                <input asp-for="WorkWidth" class="form-control" />
                <span asp-validation-for="WorkWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkHeight" class="control-label"></label>
                <input asp-for="WorkHeight" class="form-control" />
                <span asp-validation-for="WorkHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TabletDefinition" class="control-label"></label>
                <input asp-for="TabletDefinition" class="form-control" />
                <span asp-validation-for="TabletDefinition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sensivity" class="control-label"></label>
                <input asp-for="Sensivity" class="form-control" />
                <span asp-validation-for="Sensivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConnectionType" class="control-label"></label>
                <select asp-for="ConnectionType" asp-items="Html.GetEnumSelectList<ConnectionType>()" class="form-control"></select>
                <span asp-validation-for="ConnectionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label"></label>
                <select asp-for="ManufacturerId" class ="form-control" asp-items="ViewBag.ManufacturerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
