@model DigitalDevices.AuthApp.UserRegistration
@{
    ViewData["Title"] = "Регистрация";
}
<div class="register-container">
    <h1>Регистрация в системе</h1>
    <div class="register-form">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Register" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" placeholder="Логин" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirmation" class="control-label"></label>
                        <input asp-for="PasswordConfirmation" class="form-control" placeholder="Подтвердите пароль" />
                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecretCode" class="control-label"></label>
                        <input type="password" asp-for="SecretCode" class="form-control" placeholder="Вводите если знаете что делаете" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Зарегистрироваться" class="btn btn-primary registerBtn" />
                    </div>
                    <div>
                        <a class="nav-item" asp-controller="Home" asp-action="Index">На главную</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="signin">
        Уже есть аккаунт?
        <a asp-controller="Account" asp-action="Login">Войти</a>
    </div>
</div>

<style>
    main {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h1 {
        text-align: center;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    .btn {
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .btn:hover {
            opacity: 1;
        }

    .signin {
        background-color: gainsboro;
        text-align: center;
        margin-top: 20px;
        padding: 15px;
    }
</style>