@{
    ViewData["Title"] = "Главная";
}
<div class="text-center">
    <h1 class="display-4">Склад техники</h1>

    <p>
        <a href="https://learn.microsoft.com/ru-ru/aspnet/core/tutorials/first-mvc-app/controller-methods-views?view=aspnetcore-6.0">
            Продолжаем обучение
        </a>
    </p>
</div>
