@{
    ViewData["Title"] = "Главная";
}
<div class="text-center">
    <h1 class="display-4">Склад техники</h1>

</div>
<div class="text-center">
    <img class="image-responsive img-fluid" src="https://softwareimaging.com/wp-content/uploads/2022/05/Warehouse-Digitalization-1.jpg" alt="">
</div>

