<h1>Техника, хранимая на складе</h1>
<div>
    <p>
        Список техники:
    </p>
    @{
        <div class="container" style="float:left">
            <div style="float:left">
                <a href="/Products/Index?productType=Компьютер">
                    <picture>
                        <img class="storage-image"
                             src="https://sh-sadovyj-r56.gosweb.gosuslugi.ru/netcat_files/58/670/1614548430_2_p_kompyuter_na_belom_fone_3.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Компьютеры</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Графический планшет">
                    <picture>
                        <img class="storage-image"
                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Graphic_tablet.svg/2560px-Graphic_tablet.svg.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Графические планшеты</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Наушники">
                    <picture>
                        <img class="storage-image" src="https://rayconglobal.com/cdn/shop/files/H90_BLA_IMG1.png?v=1713196566">
                    </picture>
                </a>
                <br>
                <span class="text-center">Наушники</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Клавиатура">
                    <picture>
                        <img class="storage-image" src="https://defender.ru/public/o/products/9710/1bb73bf8.webp">
                    </picture>
                </a>
                <br>
                <span class="text-center">Клавиатуры</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Ноутбук">
                    <picture>
                        <img class="storage-image" src="https://static.tildacdn.com/tild3433-3665-4332-a135-663239333433/image.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Ноутбуки</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Компьютерная мышь">
                    <picture>
                        <img class="storage-image" src="https://png.klev.club/uploads/posts/2024-04/png-klev-club-cd1q-p-kompyuternaya-mishka-png-7.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Компьютерные мыши</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Микрофон">
                    <picture>
                        <img class="storage-image" src="https://c.dns-shop.ru/thumb/st4/fit/500/500/1c3911b432d6b44b0bb4b828e4393cee/652295a5885b0983d9ec5850bf914a2415679921b6c1e607f38ea5122f19371b.jpg.webp">
                    </picture>
                </a>
                <br>
                <span class="text-center">Микрофоны</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Монитор">
                    <picture>
                        <img class="storage-image" src="https://pngimg.com/uploads/monitor/laptop_PNG5874.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Мониторы</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Планшет">
                    <picture>
                        <img class="storage-image" src="https://clipart-library.com/images_k/tablet-png-transparent/tablet-png-transparent-17.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Планшеты</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Телевизор">
                    <picture>
                        <img class="storage-image" src="https://static.tildacdn.com/tild3533-6630-4465-b861-333437646230/1614572259_67-p-tele.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Телевизоры</span>
            </div>
            <div style="float:left">
                <a href="/Products/Index?productType=Веб-камера">
                    <picture>
                        <img class="storage-image" src="https://c.dns-shop.ru/thumb/st1/fit/500/500/33d9fe6fecad8e6f390b0e7cad3bd602/3c94c538398b00e5faa6a8c794e45b2c82586b3046c456cc259ab57448dfd806.jpg.webp">
                    </picture>
                </a>
                <br>
                <span class="text-center">Веб-камеры</span>
            </div>
            <div style="float:left">
                <a href="/Manufacturers/Index/">
                    <picture>
                        <img class="storage-image" src="https://www.maeswell.com/wp-content/uploads/2018/07/Buiding.png">
                    </picture>
                </a>
                <br>
                <span class="text-center">Производители</span>
            </div>
        </div>
    }
</div>

