@model DigitalDevices.Models.EditProductTypeViewModel

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактировать</h1>

<h4>@Model.Name</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacteristicTypesToDelete" class="control-label"></label>
                <select asp-for="CharacteristicTypesToDelete" 
                asp-items="@(new SelectList(ViewBag.ExistingCharacteristicsTypes))" 
                class="form-control" multiple>
                    <option value="">
                        ---Не выбрано---
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CharacteristicTypesToAdd" class="control-label"></label>
                <select asp-for="CharacteristicTypesToAdd" 
                asp-items="@(new SelectList(ViewBag.RestCharacteristicsTypes))" 
                class="form-control" multiple>
                <option value="">
                    ---Не выбрано---
                </option>
            </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
    select[multiple]{
        min-width:500px;
        min-height:300px;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
